<p id="notice"><%= notice %></p>

<p>
  <strong>City,State:</strong>
  <%= @demographic.zipcode %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @demographic.salary %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @demographic.job_title %>
</p>

