<!DOCTYPE html>
<html>
<head>
  <title>Salchk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Website Coming Soon</h1>

		<h3>SalaryChecker.com</h3>
		
		<p>Hydra-Rising is creating a responsive website that allows people to anonymously input their salary or wage details and in return gives them access to other people's income data.</p>

<%= yield %>

</body>
</html>
